.category {
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
}

.owner {
    margin-top: 30px;
}

.owner span, .contact span {
    font-weight: 600;
}


.btns {
    display: flex;
    gap: 30px;
}

.add, .edit {
    width: 150px;
    height: 40px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 800;
    color: white;
    background-color: rgb(93, 116, 136);
    border: none;
}

.edit {
    background-color: burlywood;
}

.add:hover {
    cursor: pointer;
    background-color: rgb(113, 150, 182);
}

.edit:hover {
    cursor: pointer;
    background-color: rgb(236, 210, 175);
}